body {
  background: url("img/javascript-particles-animation.jpg") center center/cover
    no-repeat;
  font-family: "Redressed", cursive;
}
#description {
  color: #fff;
  font-size: 1.2rem;
}
h1 {
  font-size: 3rem;
  color: #fff;
}
form {
  background-color: burlywood;
  width: 70%;
  margin: auto;
  border-radius: 20px;
}

textarea {
  border-radius: 10px;
  padding: 10px;
}
input {
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
}

p {
  margin-bottom: 10px;
}
label {
  font-size: 1.1rem;
}
button {
  padding: 10px 30px;
  border-radius: 5px;
  background-color: blue;
  color: #fff;
  margin-bottom: 10px;
}
button:hover {
  cursor: pointer;
  background-color: gray;
  color: black;
}
